.timer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .field {
    text-align: center;
  }
  
  .value {
    display: inline-block;
    background-color: #2b2b2b;
    color: white;
    font-size: 48px;
    padding: 20px 10px;
    border-radius: 5px;
    min-width: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    font-weight: bold;
  }
  
  .label {
    display: block;
    font-family: 'Roboto';
    margin-top: 10px;
    font-size: 12px;
    color: #aaa;
    letter-spacing: 1px;
  }
  